.parent{
    -fx-background-color: #2B2D30;
}

.sidebar{
    -fx-background-color: #1E1F22;
}

.btn{
    -fx-background-color: transparent;
}

.btn:hover{
    -fx-background-color: #202332;
}

.bar-chart .chart-content .chart-plot-background {
    -fx-background-color: transparent;
}

.circular-javafx-button{
    -fx-background-radius: 60;
    -fx-pref-width: 120;
    -fx-pref-height: 120;
    -fx-background-color: green;
}